#root { /* allgemein */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo { /*F.H.P Logo Style */
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover { /* lila Effekt, wenn man über Logo hovert*/
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover { 
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.ticketinput{ /*Aussehen der Ticket Area */
  display: flex;  
  flex-direction: column;
  gap: 12px;
}

.name{
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  gap: 12px; 
}

.textfield{
  resize: vertical;     /* optional: nur vertikal vergrößerbar */
  overflow-y: auto;     /* Scrollbar ab mehr als 5 Zeilen */
}

.card { /* Button Area */
  padding: 2em;
}
